Repository kubernetes-csi/csi-driver-smb, pull requests merged in 2021-04, with the labels that each got.

#241 Setup SMB Server for sanity tests
  .github/workflows/linux.yaml
  test/sanity/params.yaml
  test/sanity/run-test.sh
  test/sanity/secrets.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/M

#245 Add e2e test for volume subpath mount
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_volume_subpath_tester.go
  test/e2e/testsuites/specs.go
  test/e2e/testsuites/testsuites.go
Labels: approved, cncf-cla: yes, kind/flake, lgtm, ok-to-test, release-note-none, size/L

#247 add a new node role for control plane
  charts/latest/csi-driver-smb-v0.7.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-controller.yaml
  deploy/csi-smb-controller.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XS

#249 feat: upgrade node driver registrar to v2.1.0
  charts/latest/csi-driver-smb-v0.7.0.tgz
  charts/latest/csi-driver-smb/values.yaml
  deploy/csi-smb-node-windows.yaml
  deploy/csi-smb-node.yaml
Labels: approved, cncf-cla: yes, kind/feature, release-note, size/XS

#252 fix: remove arm64 build workaround
  Makefile
Labels: approved, cncf-cla: yes, kind/cleanup, release-note-none, size/XS

#253 chore: switch to use k8s.io/mount-utils
  go.mod
  pkg/mounter/safe_mounter_unix.go
  pkg/mounter/safe_mounter_windows.go
  pkg/smb/fake_mounter.go
  pkg/smb/fake_mounter_test.go
  pkg/smb/nodeserver_test.go
  pkg/smb/smb.go
  pkg/smb/smb_common_darwin.go
  pkg/smb/smb_common_linux.go
  pkg/smb/smb_common_windows.go
  vendor/k8s.io/utils/mount/OWNERS
  vendor/k8s.io/utils/mount/doc.go
  vendor/k8s.io/utils/mount/fake_mounter.go
  vendor/k8s.io/utils/mount/mount.go
  vendor/k8s.io/utils/mount/mount_helper_common.go
  vendor/k8s.io/utils/mount/mount_helper_unix.go
  vendor/k8s.io/utils/mount/mount_helper_windows.go
  vendor/k8s.io/utils/mount/mount_linux.go
  vendor/k8s.io/utils/mount/mount_unsupported.go
  vendor/k8s.io/utils/mount/mount_windows.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, release-note, size/XXL

#254 Add K8s external storage E2E tests
  Makefile
  test/external-e2e/run.sh
  test/external-e2e/testdriver.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/M

#257 fix: arm64 container build issue
  Makefile
  docs/csi-dev.md
  pkg/smbplugin/Dockerfile
  pkg/smbplugin/Windows.Dockerfile
  pkg/smbplugin/dev.Dockerfile
  test/integration/run-test.sh
  test/sanity/run-test.sh
Labels: approved, cncf-cla: yes, kind/bug, release-note, size/M
