Repository kubernetes-csi/csi-driver-smb, pull requests merged in 2021-06, with the labels that each got.

#259 create subDir in CreateVolume and delete subDir in DeleteVolume
  charts/latest/csi-driver-smb-v0.7.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/latest/csi-driver-smb/templates/rbac-csi-smb-controller.yaml
  deploy/csi-smb-controller.yaml
  deploy/example/storageclass-smb.yaml
  deploy/rbac-csi-smb-controller.yaml
  go.mod
  pkg/smb/controllerserver.go
  pkg/smb/controllerserver_test.go
  pkg/smb/nodeserver.go
  pkg/smb/smb.go
  pkg/smb/smb_common_windows.go
  test/e2e/suite_test.go
  test/integration/run-test.sh
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, size/XL

#282 Remove unnecessary ()
  test/run-e2e-test.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, release-note-none, size/XS

#284 test: enable more sanity tests
  test/sanity/run-test.sh
Labels: approved, cncf-cla: yes, kind/cleanup, release-note-none, size/XS

#283 Fix a typo
  deploy/example/e2e_usage.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#285 chore: a little cleanup
  deploy/example/storageclass-smb.yaml
  pkg/smb/controllerserver.go
  test/external-e2e/run.sh
  test/integration/run-test.sh
Labels: approved, cncf-cla: yes, kind/cleanup, release-note-none, size/S

#287 fix integration tests failure
  test/integration/run-test.sh
Labels: cncf-cla: yes, ok-to-test, release-note-none, size/XS

#292 doc: update the title and path in the doc
  docs/csi-dev.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/XS

#291 test: add file path to make commands
  test/run-e2e-test.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, release-note-none, size/S

#295 feat: remove createSubDir parameter
  deploy/example/e2e_usage.md
  deploy/example/storageclass-smb.yaml
  docs/driver-parameters.md
  pkg/smb/controllerserver.go
  pkg/smb/controllerserver_test.go
  pkg/smb/smb.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/suite_test.go
  test/integration/run-test.sh
  test/sanity/params.yaml
Labels: approved, cncf-cla: yes, kind/feature, release-note, size/L

#297 chore: switch master branch to use v1.1.0
  Makefile
  charts/index.yaml
  charts/latest/csi-driver-smb-v1.0.0.tgz
  charts/latest/csi-driver-smb-v1.1.0.tgz
  charts/latest/csi-driver-smb/Chart.yaml
Labels: approved, cncf-cla: yes, kind/documentation, release-note-none, size/S

#298 feat: Helm Chart pod labels/annotations; configurable limits per comp…
  charts/README.md
  charts/latest/csi-driver-smb-v1.1.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/latest/csi-driver-smb/templates/csi-smb-node.yaml
  charts/latest/csi-driver-smb/values.yaml
  hack/verify-helm-chart-files.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note-none, size/L

#293 Add version option for e2e-bootstrap
  Makefile
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/XS

#299 revert a comment
  test/run-e2e-test.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/XS

#301 fix gke auth for tests
  go.sum
  test/e2e/dynamic_provisioning_test.go
  vendor/cloud.google.com/go/LICENSE
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/jwt.go
  vendor/golang.org/x/oauth2/google/sdk.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/jwt/jwt.go
  vendor/google.golang.org/appengine/.travis.yml
  vendor/google.golang.org/appengine/CONTRIBUTING.md
  vendor/google.golang.org/appengine/README.md
  vendor/google.golang.org/appengine/appengine.go
  vendor/google.golang.org/appengine/appengine_vm.go
  vendor/google.golang.org/appengine/errors.go
  vendor/google.golang.org/appengine/go.mod
  vendor/google.golang.org/appengine/go.sum
  vendor/google.golang.org/appengine/identity.go
  vendor/google.golang.org/appengine/internal/app_identity/app_identity_service.pb.go
  vendor/google.golang.org/appengine/internal/app_identity/app_identity_service.proto
  vendor/google.golang.org/appengine/internal/modules/modules_service.pb.go
  vendor/google.golang.org/appengine/internal/modules/modules_service.proto
  vendor/google.golang.org/appengine/namespace.go
  vendor/google.golang.org/appengine/timeout.go
  vendor/google.golang.org/appengine/travis_install.sh
  vendor/google.golang.org/appengine/travis_test.sh
  vendor/k8s.io/client-go/plugin/pkg/client/auth/gcp/OWNERS
  vendor/k8s.io/client-go/plugin/pkg/client/auth/gcp/gcp.go
  vendor/k8s.io/client-go/third_party/forked/golang/template/exec.go
  vendor/k8s.io/client-go/third_party/forked/golang/template/funcs.go
  vendor/k8s.io/client-go/util/jsonpath/doc.go
  vendor/k8s.io/client-go/util/jsonpath/jsonpath.go
  vendor/k8s.io/client-go/util/jsonpath/node.go
  vendor/k8s.io/client-go/util/jsonpath/parser.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/XXL

#300 fix registry prefix in push-manifest
  Makefile
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/XS

#303 Bump CSIDriver to v1
  charts/latest/csi-driver-smb-v1.1.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-driver.yaml
  deploy/csi-smb-driver.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/XS

#306 Change to use bosko project gcr registry for e2e test
  test/run-e2e-test.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, release-note-none, size/XS

#308 feat: support customization tolerations in chart
  charts/README.md
  charts/latest/csi-driver-smb-v1.1.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/latest/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/latest/csi-driver-smb/templates/csi-smb-node.yaml
  charts/latest/csi-driver-smb/values.yaml
  pkg/smb/controllerserver.go
Labels: approved, cncf-cla: yes, kind/feature, release-note, size/M

#309 resolve name to ip before passing to csi-proxy
  deploy/example/smb-provisioner/README.md
  pkg/mounter/safe_mounter_windows.go
  test/e2e/suite_test.go
  test/utils/get_smb_svc_public_ip.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note-none, size/M

#310 test: Configure docker in e2e test script
  test/run-e2e-test.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, release-note-none, size/XS

#313 doc: cut v1.1.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/v1.1.0/csi-driver-smb-v1.1.0.tgz
  charts/v1.1.0/csi-driver-smb/Chart.yaml
  charts/v1.1.0/csi-driver-smb/templates/NOTES.txt
  charts/v1.1.0/csi-driver-smb/templates/_helpers.tpl
  charts/v1.1.0/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/v1.1.0/csi-driver-smb/templates/csi-smb-driver.yaml
  charts/v1.1.0/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/v1.1.0/csi-driver-smb/templates/csi-smb-node.yaml
  charts/v1.1.0/csi-driver-smb/templates/rbac-csi-smb-controller.yaml
  charts/v1.1.0/csi-driver-smb/values.yaml
  deploy/v1.1.0/csi-smb-controller.yaml
  deploy/v1.1.0/csi-smb-driver.yaml
  deploy/v1.1.0/csi-smb-node-windows.yaml
  deploy/v1.1.0/csi-smb-node.yaml
  deploy/v1.1.0/rbac-csi-smb-controller.yaml
  docs/install-csi-driver-v1.1.0.md
  docs/install-smb-csi-driver.md
Labels: approved, cncf-cla: yes, kind/documentation, release-note, size/XXL

#314 chore: switch master branch to use v1.2.0
  Makefile
  charts/index.yaml
  charts/latest/csi-driver-smb-v1.1.0.tgz
  charts/latest/csi-driver-smb-v1.2.0.tgz
  charts/latest/csi-driver-smb/Chart.yaml
Labels: approved, cncf-cla: yes, kind/documentation, release-note-none, size/S

#315 fix: add drivername setting in controller
  charts/latest/csi-driver-smb-v1.2.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-controller.yaml
Labels: approved, cncf-cla: yes, kind/bug, release-note, size/XS
