Repository kubernetes-csi/csi-driver-smb, pull requests merged in 2022-08, with the labels that each got.

#521 Update default `windows.kubelet` value to be compatible with containerd runtime
  charts/README.md
  charts/index.yaml
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/v1.7.0/csi-driver-smb-v1.7.0.tgz
  charts/v1.7.0/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/v1.8.0/csi-driver-smb-v1.8.0.tgz
  charts/v1.8.0/csi-driver-smb/templates/csi-smb-node-windows.yaml
Labels: kind/bug, size/L, release-note, approved, lgtm, ok-to-test, cncf-cla: yes

#524 Increase memory limits of `livenessprobe` and `csi-node-driver-registrar` Windows containers.
  charts/index.yaml
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/values.yaml
  charts/v1.7.0/csi-driver-smb-v1.7.0.tgz
  charts/v1.7.0/csi-driver-smb/values.yaml
  charts/v1.8.0/csi-driver-smb-v1.8.0.tgz
  charts/v1.8.0/csi-driver-smb/values.yaml
Labels: kind/bug, release-note, approved, lgtm, ok-to-test, cncf-cla: yes, size/S

#526 fix: helm chart index error
  charts/index.yaml
Labels: kind/bug, size/M, approved, cncf-cla: yes, release-note-none

#505 Calls RemoveSmbGlobalMapping when it necessary
  pkg/mounter/refcounter_windows.go
  pkg/mounter/refcounter_windows_test.go
  pkg/mounter/safe_mounter_windows.go
  pkg/smb/nodeserver.go
  pkg/smb/nodeserver_test.go
Labels: kind/feature, size/L, release-note, approved, lgtm, ok-to-test, cncf-cla: yes

#527 feat: add removeSMBMappingDuringUnmount config in chart config
  charts/README.md
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/latest/csi-driver-smb/values.yaml
  cmd/smbplugin/main.go
  deploy/csi-smb-node-windows.yaml
  pkg/csi-common/server_test.go
  pkg/mounter/safe_mounter_unix.go
  pkg/mounter/safe_mounter_unix_test.go
  pkg/mounter/safe_mounter_windows.go
  pkg/smb/fake_mounter.go
  pkg/smb/nodeserver_test.go
  pkg/smb/smb.go
Labels: kind/feature, size/L, release-note, approved, cncf-cla: yes

#529 doc: cut v1.9.0 release
  .github/workflows/codespell.yml
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb-v1.9.0.tgz
  charts/v1.9.0/csi-driver-smb-v0.0.0.tgz
  charts/v1.9.0/csi-driver-smb-v1.9.0.tgz
  charts/v1.9.0/csi-driver-smb/Chart.yaml
  charts/v1.9.0/csi-driver-smb/templates/NOTES.txt
  charts/v1.9.0/csi-driver-smb/templates/_helpers.tpl
  charts/v1.9.0/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/v1.9.0/csi-driver-smb/templates/csi-smb-driver.yaml
  charts/v1.9.0/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/v1.9.0/csi-driver-smb/templates/csi-smb-node.yaml
  charts/v1.9.0/csi-driver-smb/templates/rbac-csi-smb.yaml
  charts/v1.9.0/csi-driver-smb/values.yaml
  deploy/v1.9.0/csi-smb-controller.yaml
  deploy/v1.9.0/csi-smb-driver.yaml
  deploy/v1.9.0/csi-smb-node-windows.yaml
  deploy/v1.9.0/csi-smb-node.yaml
  deploy/v1.9.0/rbac-csi-smb.yaml
  docs/install-csi-driver-v1.9.0.md
  docs/install-smb-csi-driver.md
  pkg/smb/smb_test.go
Labels: release-note, approved, size/XXL, cncf-cla: yes, kind/documentation

#531 chore: switch master branch to use v1.10.0
  Makefile
  charts/index.yaml
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb-v1.9.0.tgz
Labels: size/M, approved, cncf-cla: yes, kind/documentation, release-note-none

#533 test: update ubuntu-18.04 to ubuntu-latest in GitHub workflows
  .github/workflows/static.yaml
  .github/workflows/trivy.yaml
Labels: kind/failing-test, approved, size/XS, cncf-cla: yes, release-note-none
