Repository kubernetes-csi/csi-driver-smb, pull requests merged in 2023-03, with the labels that each got.

#588 cleanup: remove metrics-address on driver daemonset on the node
  charts/README.md
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/latest/csi-driver-smb/templates/csi-smb-node.yaml
  charts/latest/csi-driver-smb/values.yaml
  cmd/smbplugin/main.go
  deploy/csi-smb-node-windows.yaml
  deploy/csi-smb-node.yaml
Labels: approved, kind/cleanup, cncf-cla: yes, release-note-none, size/S

#591 test: fix golint error
  .github/workflows/static.yaml
  release-tools/filter-junit.go
Labels: kind/failing-test, approved, size/XS, lgtm, cncf-cla: yes, release-note-none

#589 feat: add readOnlyRootFilesystem if possible
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/latest/csi-driver-smb/templates/csi-smb-node.yaml
Labels: kind/feature, release-note, approved, lgtm, ok-to-test, cncf-cla: yes, size/S
