Repository kubernetes-csi/csi-driver-smb, pull requests merged in 2023-08, with the labels that each got.

#643 doc: cut v1.12.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/v1.12.0/csi-driver-smb-v1.12.0.tgz
  charts/v1.12.0/csi-driver-smb/Chart.yaml
  charts/v1.12.0/csi-driver-smb/templates/NOTES.txt
  charts/v1.12.0/csi-driver-smb/templates/_helpers.tpl
  charts/v1.12.0/csi-driver-smb/templates/csi-proxy-windows.yaml
  charts/v1.12.0/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/v1.12.0/csi-driver-smb/templates/csi-smb-driver.yaml
  charts/v1.12.0/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/v1.12.0/csi-driver-smb/templates/csi-smb-node.yaml
  charts/v1.12.0/csi-driver-smb/templates/rbac-csi-smb.yaml
  charts/v1.12.0/csi-driver-smb/values.yaml
  deploy/v1.12.0/csi-smb-controller.yaml
  deploy/v1.12.0/csi-smb-driver.yaml
  deploy/v1.12.0/csi-smb-node-windows.yaml
  deploy/v1.12.0/csi-smb-node.yaml
  deploy/v1.12.0/rbac-csi-smb.yaml
  docs/install-csi-driver-v1.12.0.md
  docs/install-smb-csi-driver.md
Labels: release-note, approved, size/XXL, cncf-cla: yes, kind/documentation

#646 chore: update csi-release-tools
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/contrib/get_supported_version_csi-sidecar.py
  release-tools/prow.sh
Labels: size/L, approved, kind/cleanup, cncf-cla: yes, release-note-none

#648 chore: update csi-release-tools
  release-tools/prow.sh
Labels: approved, size/XS, kind/cleanup, cncf-cla: yes, release-note-none

#651 fix: deployment hangs
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-controller.yaml
Labels: kind/bug, release-note, approved, size/XS, lgtm, ok-to-test, cncf-cla: yes

#652 Fix: wrong defaults and defaults not matching stated defaults
  charts/README.md
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/values.yaml
Labels: kind/bug, release-note, approved, lgtm, ok-to-test, cncf-cla: yes, kind/documentation, size/S
