Repository kubernetes-csi/csi-driver-smb, pull requests merged in 2024-10, with the labels that each got.

#854 test: use env var for enable driver install in e2e
  test/e2e/suite_test.go
Labels: kind/failing-test, approved, lgtm, ok-to-test, cncf-cla: yes, release-note-none, size/S

#857 fix: build with go 1.22.5 to fix golang CVE
  release-tools/build.make
  release-tools/prow.sh
Labels: kind/bug, release-note, approved, cncf-cla: yes, size/S

#858 fix: add CriticalAddonsOnly toleration into controller pod
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/values.yaml
  deploy/csi-smb-controller.yaml
Labels: kind/bug, release-note, approved, size/XS, cncf-cla: yes
