Repository kubernetes-csi/csi-driver-smb, pull requests merged in 2024-01, with the labels that each got.

#725 doc: cut v1.14.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/v1.14.0/csi-driver-smb-v1.14.0.tgz
  charts/v1.14.0/csi-driver-smb/Chart.yaml
  charts/v1.14.0/csi-driver-smb/templates/NOTES.txt
  charts/v1.14.0/csi-driver-smb/templates/_helpers.tpl
  charts/v1.14.0/csi-driver-smb/templates/csi-proxy-windows.yaml
  charts/v1.14.0/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/v1.14.0/csi-driver-smb/templates/csi-smb-driver.yaml
  charts/v1.14.0/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/v1.14.0/csi-driver-smb/templates/csi-smb-node.yaml
  charts/v1.14.0/csi-driver-smb/templates/rbac-csi-smb.yaml
  charts/v1.14.0/csi-driver-smb/values.yaml
  deploy/v1.14.0/csi-smb-controller.yaml
  deploy/v1.14.0/csi-smb-driver.yaml
  deploy/v1.14.0/csi-smb-node-windows.yaml
  deploy/v1.14.0/csi-smb-node.yaml
  deploy/v1.14.0/rbac-csi-smb.yaml
  docs/install-csi-driver-v1.14.0.md
  docs/install-smb-csi-driver.md
Labels: approved, size/XXL, cncf-cla: yes, kind/documentation, release-note-none

#729 chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/values.yaml
  charts/v1.14.0/csi-driver-smb-v1.14.0.tgz
  charts/v1.14.0/csi-driver-smb/values.yaml
  deploy/csi-smb-controller.yaml
  deploy/csi-smb-node-windows.yaml
  deploy/csi-smb-node.yaml
  deploy/v1.14.0/csi-smb-controller.yaml
  deploy/v1.14.0/csi-smb-node-windows.yaml
  deploy/v1.14.0/csi-smb-node.yaml
Labels: kind/feature, size/M, approved, cncf-cla: yes, release-note-none

#739 fix: do not use /var/lib/kubelet, use .Values.linux.kubelet instead
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-node.yaml
Labels: approved, size/XS, lgtm, ok-to-test, cncf-cla: yes, release-note-none

#741 fix: incorrect kubelet path setting on v1.14 chart config
  charts/v1.14.0/csi-driver-smb-v1.14.0.tgz
  charts/v1.14.0/csi-driver-smb/templates/csi-smb-node.yaml
Labels: kind/bug, release-note, approved, size/XS, cncf-cla: yes
