Repository kubernetes-csi/csi-driver-smb, pull requests merged in 2024-06, with the labels that each got.

#788 Update index.yaml - remove 1.15.0 from index.yaml
  charts/index.yaml
Labels: approved, size/XS, lgtm, ok-to-test, cncf-cla: yes, release-note-none

#789 chore: update release-tools to fix spelling error
  .github/workflows/trivy.yaml
  release-tools/.github/dependabot.yaml
  release-tools/.github/workflows/codespell.yml
  release-tools/.github/workflows/trivy.yaml
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/generate-patch-release-notes.sh
  release-tools/go-modules-targeted-update.sh
  release-tools/prow.sh
  release-tools/verify-logcheck.sh
Labels: kind/failing-test, size/L, approved, cncf-cla: yes, release-note-none

#791 chore: use go 1.22 in go.mod
  go.mod
  vendor/k8s.io/kubernetes/test/e2e/framework/testfiles/testdata/a/foo.txt
Labels: kind/failing-test, approved, size/XS, cncf-cla: yes, release-note-none

#790 fix: shield guard issues
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/v1.13.0/csi-driver-smb-v1.13.0.tgz
  charts/v1.13.0/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/v1.14.0/csi-driver-smb-v1.14.0.tgz
  charts/v1.14.0/csi-driver-smb/templates/csi-smb-controller.yaml
  deploy/csi-smb-controller.yaml
  deploy/v1.13.0/csi-smb-controller.yaml
  deploy/v1.14.0/csi-smb-controller.yaml
Labels: kind/bug, size/M, approved, lgtm, ok-to-test, cncf-cla: yes, release-note-none

#794 fix: shield guard issue on csi node
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/latest/csi-driver-smb/templates/csi-smb-node.yaml
  charts/v1.13.0/csi-driver-smb-v1.13.0.tgz
  charts/v1.13.0/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/v1.13.0/csi-driver-smb/templates/csi-smb-node.yaml
  charts/v1.14.0/csi-driver-smb-v1.14.0.tgz
  charts/v1.14.0/csi-driver-smb/templates/csi-smb-node-windows.yaml
  charts/v1.14.0/csi-driver-smb/templates/csi-smb-node.yaml
  deploy/csi-smb-node-windows.yaml
  deploy/csi-smb-node.yaml
  deploy/v1.13.0/csi-smb-node-windows.yaml
  deploy/v1.13.0/csi-smb-node.yaml
  deploy/v1.14.0/csi-smb-node-windows.yaml
  deploy/v1.14.0/csi-smb-node.yaml
Labels: kind/bug, size/L, approved, lgtm, ok-to-test, cncf-cla: yes, release-note-none
