Repository kubernetes-csi/csi-driver-smb, pull requests merged in 2025-02, with the labels that each got.

#921 fix: duplicated securityContext on Windows chart config
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-node-windows-hostprocess.yaml
  charts/v1.17.0/csi-driver-smb-v1.17.0.tgz
  charts/v1.17.0/csi-driver-smb/templates/csi-smb-node-windows-hostprocess.yaml
Labels: kind/bug, approved, size/XS, cncf-cla: yes, release-note-none

#923 test: fix CVE-2025-22866 in trivy action
  .github/workflows/trivy.yaml
Labels: kind/failing-test, approved, size/XS, cncf-cla: yes, release-note-none

#924 fix: incorrect affinity chart config
  charts/latest/csi-driver-smb-v0.0.0.tgz
  charts/latest/csi-driver-smb/templates/csi-smb-controller.yaml
  charts/v1.17.0/csi-driver-smb-v1.17.0.tgz
  charts/v1.17.0/csi-driver-smb/templates/csi-smb-controller.yaml
Labels: kind/bug, release-note, approved, size/XS, cncf-cla: yes

#929 chore: update csi release tools (building driver with go1.23.6)
  release-tools/prow.sh
Labels: kind/feature, approved, size/XS, cncf-cla: yes, release-note-none

#928 test: use env var for CSI inline volume test secret
  test/e2e/dynamic_provisioning_test.go
Labels: size/XS, lgtm, ok-to-test, cncf-cla: yes, release-note-none

#931 test: correct external-e2e driver capabilities
  test/external-e2e/testdriver.yaml
Labels: size/XS, lgtm, ok-to-test, cncf-cla: yes, release-note-none
